.orange-color{color: orange;}
body{font-family: 'Poppins', sans-serif;margin: 0;}

h1{font-size: 50px;}
.flexble{
    display: flex;
    margin-bottom: 150px;
}
.half-width{width: 50%; padding: 2%;}
.half-width img{width:80%;}
#top-banner{background-image: url(images/top-banner.png);background-repeat: no-repeat;}
.button{text-decoration: none;font-weight: 700;
    padding: 13px 50px;color: white; border-radius: 7px;
    background-image:linear-gradient(purple,tomato);
}
#right-image{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat; background-position: right;padding-bottom: 120px;
}
#db{color: black;}
#button2{text-decoration: none;
    padding: 15px 50px; border-radius: 5px;color: white;
    font-weight: 700;background-image: linear-gradient(#FF247A,#684DDB );
}
.experience-item{
    box-shadow: 10px 10px 40px gray; width: 40%; margin-left:5%; margin-right: 5%; padding: 5px; 
}
#border{ border-left: 7px solid;
    border-image: linear-gradient(purple, tomato); border-image-slice: 1;
}
#border-color{ border-left: 7px solid;
    border-image: linear-gradient(blue,cyan); border-image-slice: 1;
}
.left-image{
    background-image: url(images/exp-bg.png);background-repeat: no-repeat;
    background-position: left;padding-bottom:  35px;
}
#end{text-align: center;}